@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  section {
    margin: 50px 0;
    position: relative;
    width: 100%;
  }

  img {
    font-family: 'object-fit: cover; object-position: center;';
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@layer components {
  .main {
    @apply grow relative w-full flex justify-center items-center;
  }

  .title {
    @apply text-7xl font-bold text-cyan-900 text-center mb-[35px] sm:text-5xl;
  }

  .button {
    @apply block min-w-[150px] max-w-[150px] mx-auto border-2
     border-cyan-900 bg-cyan-900 text-white text-[18px] 
     text-center rounded p-3 transition hover:bg-cyan-700 hover:border-cyan-700 
     aria-disabled:pointer-events-none aria-disabled:opacity-[.5];
  }
}
